{
    "arrowParens": "avoid",
    "printWidth": 120,
    "tabWidth": 4,
    "singleQuote": false,
    "htmlWhitespaceSensitivity": "css",
    "trailingComma": "es5",
    "semi": false,
    "bracketSpacing": true
}
