:root {
    --radius: 5px;
}

.full-button {
    display: flex;
    position: relative;
    align-items: stretch;
    width: 280px;
    height: 38px;
    cursor: pointer;
    overflow: hidden;
    transition: 0.2s;
}

.full-button.collapsed:hover {
    filter: brightness(88%);
}

.full-button:not(.collapsed) .button-part:not([disabled="true"]):hover {
    filter: brightness(95%);
}

.text {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    color: white;
    text-align: center;
    transform: translate(-50%, -50%);
    font-family: Rubik, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: -0.2px;
    transition: 0.4s ease;
    clip-path: view-box;
}

.button-part {
    background: #4f4f4f;
    width: 50%;
    margin: 0;
    transition: margin-right 0.15s ease, background-color 0.2s ease-out, filter 0.2s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-part {
    width: 23px;
    height: auto;
    margin-right: 15px;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.7));
    transform: translateY(10px);
    opacity: 0;
    transition: 0.25s ease;
}

.text-part {
    font-family: Rubik, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: -0.1px;
    opacity: 0;
    transition: 0.25s ease;
    transform: scale(0.9);
    color: #ffffff;
}

.left {
    border-radius: var(--radius) 0 0 var(--radius);
}

.right {
    border-radius: 0 var(--radius) var(--radius) 0;
}

.right img {
    width: 20px;
}

#account-modal-wrapper {
    position: absolute;
    z-index: 99999999999999999;
    top: 30px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 30px);

    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    transition: opacity 0.4s ease;

    display: none; /* is changed to "flex" when opened */
    opacity: 0; /* is changed to "1" when opened */

    justify-content: center;
    align-items: center;
}

#account-modal {
    width: 500px;
    color: #2a2b2b;
    letter-spacing: -0.3px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    transition: 0.3s ease;
}

#account-modal-header {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 12px 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);

    color: white;
    background-color: rgb(51, 51, 51);
    border-radius: 10px 10px 0 0;

    font-size: 1.5rem;
    font-weight: 500;
}

#account-modal-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 30px;

    border-radius: 0 10px 0 10px;
    background-color: rgb(186, 71, 71);

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#account-modal-close img {
    width: 13px;
    height: auto;
}

#account-modal-content {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

#account-modal__accounts-header {
    text-align: center;
    margin-top: 15px;
    font-weight: 500;
    font-size: 1.2rem;
}

#account-modal__accounts {
    width: 100%;
    min-height: 150px;
    margin: 15px 0;
}

.accounts-empty-img {
    width: 110px;
    position: relative;
    display: block;
    height: 100%;
    margin: 0 auto;
    transform: translateY(15px);
}

#account-modal__button {
    width: 100%;
    border-top: 2px solid #eeeeee;
    padding: 15px 0 0;
    display: flex;
    justify-content: center;
}

.account-modal__account {
    display: flex;
    align-items: center;
    padding: 8px 20px;
    transition: background-color 0.2s;
    cursor: pointer;
}

.account-modal__account:hover {
    background-color: rgba(0, 0, 0, 0.07);
}

.account-modal__current-account {
    border-left: 3px solid rgb(239, 133, 46);
    background-color: rgba(239, 133, 46, 0.1);
    padding-left: 17px;
}

.account-modal__info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
    width: 100%;
}

.account-modal__skull {
    width: 40px;
    height: 40px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.account-modal__name {
    font-size: 1.2rem;
    font-weight: 500;
}

.account-modal__uuid {
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(42, 43, 43, 0.8);
}

.account-modal__logout {
    width: 25px;
    height: auto;
    filter: grayscale(100%);
    transition: 0.1s ease;
    cursor: pointer;
}

.account-modal__logout:hover {
    filter: grayscale(10%);
}

.account-modal-animation {
    width: 23px;
    height: 23px;
}

.account-modal-animation .sk-chase-dot:before {
    background-color: #dedede;
}

#account-modal-footer {
    width: 100%;
    height: 0;
    padding-bottom: 20px;
    padding-top: 0;

    background-color: rgb(255, 255, 255);
    border-radius: 0 0 10px 10px;
    transition: all 0.2s ease-out;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#status {
    width: 100%;
    padding: 0 30px;

    color: rgba(0, 0, 0, 0.6);
    font-size: 1.1rem;
    text-align: center;

    opacity: 0;
    transition: 0.2s ease-out;
}

#mojang-form {
    opacity: 0;
    transition: 0.2s ease-out;

    width: 100%;
    padding: 0 60px;

    display: flex;
    flex-direction: column;
}

.mojang-form-info {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.mojang-form-item {
    margin: 5px 0;
    position: relative;
}

.mojang-field {
    box-sizing: border-box;
    border-radius: 3px 3px 0 0;
    width: 100%;
    outline: 0;
    border: 0;
    background-color: #e2e2e2;
    color: #37393a;
    height: 35px;
    padding: 10px;
    font-size: 18px;
}

.mojang-field::placeholder {
    color: rgba(55, 57, 58, 0.4);
}

.mojang-field:focus + .input-border {
    transform: scaleX(1);
}

.input-border {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #7cbb00;
    transition: 0.2s ease;
    transform: scaleX(0);
    transform-origin: left;
}

#mojang-form-submit {
    all: unset;
    color: #fff;
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    font-size: 20px;
    font-weight: 500;
    background-color: #7cbb00;
    border-radius: 3px;
    text-align: center;
    margin-top: 5px;
}

#mojang-form-submit:not([disabled="true"]):hover {
    filter: brightness(95%);
    cursor: pointer;
}

.expanded-1 .text {
    transform: translate(-50%, -100px);
}

.expanded-1 .full-button {
    width: 350px;
}

.expanded-2 .full-button {
    cursor: default;
    transition: none;
}

.expanded-2 .left {
    margin-right: 30px;
    background-color: #7cbb00;
    border-radius: var(--radius);
}

.expanded-2 .right {
    background-color: #00a1f1;
    border-radius: var(--radius);
}

.expanded-2 .text-part {
    opacity: 1;
    transform: scale(1);
}

.expanded-2 .img-part {
    opacity: 1;
    transform: translate(0);
}

.expanded-3 .text {
    display: none;
}
