@font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../../fonts/JetBrains/JetBrainsMono-Regular.woff2");
}

@font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../../fonts/JetBrains/JetBrainsMono-Medium.woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
    font-weight: 400;
    font-size: 0.9rem;
    letter-spacing: -0.1px;
    color: #e5e5e5;
}

html,
body {
    height: 100vh;
    overflow: hidden;
    background: #323434;
}

.level-trace .output__level-tag {
    background-color: #e1c876;
    color: #6e643b;
}

.level-trace .output__overview-message {
    color: #afafaf;
}

.level-debug .output__level-tag {
    background-color: #66c166;
    color: #2a512a;
}

.level-info .output__level-tag {
    background-color: #7693e8;
    color: #2f3655;
}

.level-warn .output__level-tag {
    background-color: #e8b276;
    color: #775e3e;
}

.level-warn .output__overview-message {
    color: #e8b276;
}

.level-error .output__level-tag {
    background-color: #e87676;
    color: #7c4040;
}

.level-error .output__overview-message {
    color: #e87676;
}

.level-fatal .output__level-tag {
    background-color: #e64f4f;
    color: #581e1e;
}

.level-fatal .output__overview-message {
    color: #e64f4f;
}

.logger-stdout {
    color: #d0d2d2;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#game-output {
    max-height: 100%;
    width: 100%;
    overflow: auto;
    padding: 10px 0;
    height: calc(100% - 50px);
}

#logger-controls {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #424345;
    padding: 20px;
    box-shadow: -10px 0 10px #00000061;
}

.output__overview-wrapper {
    display: flex;
    align-items: flex-start;
}

.output__overview-wrapper span {
    margin: 5px 10px;
    max-width: 140px;
    width: 100%;
    word-break: break-word;
    white-space: pre-wrap;
}

span.output__level-tag {
    display: inline-block;
    max-width: 80px;
    border-radius: 3px;
    padding: 2px 5px;
    margin: 3px 10px 3px 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

span.output__overview-timestamp {
    max-width: 70px;
    width: 100%;
    font-weight: bold;
}

span.output__overview-logger.dragonfly-logger {
    color: #d48748;
}

span.output__overview-logger {
    max-width: 150px;
    width: 100%;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    overflow-wrap: break-word;
}

span.output__overview-thread {
    max-width: 150px;
    width: 100%;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    overflow-wrap: break-word;
}

span.output__overview-message {
    max-width: 100%;
    width: 100%;
}

#game-output .output__overview-wrapper {
    margin-top: 7px;
}

#game-output .output__overview-wrapper:nth-child(1) {
    margin-top: 0px;
}

#game-output::-webkit-scrollbar {
    width: 6px; /* width of the entire scrollbar */
}

#game-output::-webkit-scrollbar-track {
    background: #3e3e3e;
}

#game-output::-webkit-scrollbar-thumb {
    background-color: #808080; /* color of the scroll thumb */
    border-radius: 5px;
}

.logger-control-label {
    user-select: none;
    font-family: Rubik, sans-serif;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 5px 5px;
    margin: 0 15px;
}

.logger-control-label input {
    margin-right: 6px;
    width: 15px;
    height: 15px;
}
