.titlebar {
    height: 30px;
    -webkit-user-select: none;
    -webkit-app-region: drag;

    display: flex;
    justify-content: flex-end;
    background: #2a2b2b;
}

.titlebar-button {
    -webkit-app-region: no-drag;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0rem 1.25rem;
}

#close-btn {
    background-color: #f04747;
}

#close-btn .fa-times,
#min-btn .fa-minus {
    color: white;
}
