/*
 Rubik
*/
@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("../fonts/Rubik/Rubik-Light.ttf");
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Rubik/Rubik-Regular.ttf");
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/Rubik/Rubik-Medium.ttf");
}

@font-face {
    font-family: "Rubik";
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/Rubik/Rubik-MediumItalic.ttf");
}
@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/Rubik/Rubik-Bold.ttf");
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/Rubik/Rubik-Black.ttf");
}
